@{
    ViewData["Title"] = "Test_name Essay Grading - Instructor";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page displays the essay section of a test and allows it to be graded</p>
