@{
    ViewData["Title"] = "View Test_Name - Instructor";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page displays a test, the sections it’s assigned to, and the students who are taking the test.</p>
