@{
    ViewData["Title"] = "Course_Name_id - Instructor";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page lists a course’s information and all of its sections. It also allows the teacher to create a test.  </p>
