BrainNotFound.Paper/.vs/
BrainNotFound.Paper/BrainNotFound.Paper.DataAccessLayer/bin/
BrainNotFound.Paper/BrainNotFound.Paper.DataAccessLayer/obj/
BrainNotFound.Paper/BrainNotFound.Paper.WebApp/bin/
BrainNotFound.Paper/BrainNotFound.Paper.WebApp/obj/