@{
    ViewData["Title"] = "Manage Courses - Admin";
}

@{ 
    Layout = "_AdminLayout";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page lists all of the courses and their information, and allows new courses 	to be added. </p> 