@{
    ViewData["Title"] = "Manage Instructors - Admin";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page lists all of the instructors and their information, and allows new instructors 	to be added. .</p>
 