@{
    ViewData["Title"] = "Add Instructor Info- Admin";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h5>@ViewData["Errors"]</h5>

<p>This page allows a new instructor to be created with the following information: ID, 	first name, last name, salutation, email, password, phone number, user type, and 	section.</p>
 