@{
    ViewData["Title"] = "Add Section Info - Admin";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page allows a new section to be created with the following information: ID, 	course ID, user ID, section number, start time and end time, location, and capacity.</p> 