@{
    ViewData["Title"] = "Admin Profile - Admin";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page displays the admin’s profile information and allows the admin to reset his password.</p> 