@{
    ViewData["Title"] = "Manage Students - Admin";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page lists all of the students and their information, and allows new students 	to be added.</p> 