@using BrainNotFound.Paper.Models.BusinessModels;
@using BrainNotFound.Paper.Services;

@{
    ViewData["Title"] = "Run";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-info-circle"></i> | @DefaultTestSectionText.Header.Get("Essay")</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p><b>Instructions:</b> @DefaultTestSectionText.Instruction.Essay</p>
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p><b>Questions:</b> </p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 questionRow" style="padding: 20px 0 10px 0">
            <div class="col-md-1 col-sm-1 col-xs-3 text-center">
                <span id="pointValue-56789">(5 pts.)</span>
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <p><strong>1.</strong> Compare and contrat Abmael ans Bima</p>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-3 text-center">
            </div>
            <div class="col-md-11 col-sm-11 col-xs-12">
                <textarea class="studentEssayQuestionAnswer"></textarea>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/vendors/autosize/dist/autosize.min.js"></script>
    <script>
        // Initialize textares autoresize
        $(document).ready(function () {
            autosize($('.studentEssayQuestionAnswer'));
        })
    </script>
}