@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!--Edit Instructions Start-->
<div class="row well">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-1 col-sm-1 col-xs-3">
            <p><b>Instructions:</b></p>
        </div>
        <div class="form-group col-md-8 col-sm-8 col-xs-12">
            <input type="text" placeholder="Enter question text here" value="Determine if each statement is True or False." class="form-control">
        </div>
        <div class="form-group col-md-3 col-sm-3 col-xs-12">
        </div>
        <div class="form-group col-md-3 col-sm-3 col-xs-12">
            <button type="button" class="pull-right btn btn-primary btn-md">Save</button>
            <button type="button" class="pull-right btn btn-danger btn-md">Cancel</button>
        </div>
    </div>
</div>
<!--Edit Instructions End-->