@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!--Edit True/False Question Start-->
<div class="row well">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-1 col-sm-1 col-xs-3">
            <input type="text" placeholder="pts" class="form-group form-control">
        </div>
        <div class="form-group col-md-5 col-sm-5 col-xs-12">
            <input type="text" placeholder="Enter question text here" class="form-control">
        </div>
        <div class="form-group col-md-3 col-sm-3 col-xs-12">
            <input type="radio" class="flat" checked="" name="iCheck" style="position: absolute; opacity: 0;"> True
            <input type="radio" class="flat" name="iCheck" style="position: absolute; opacity: 0;"> False
        </div>
        <div class="form-group col-md-3 col-sm-3 col-xs-12">
            <button type="button" class="pull-right btn btn-primary btn-md">Save</button>
            <button type="button" class="pull-right btn btn-danger btn-md">Cancel</button>
        </div>
    </div>
</div>
<!--Edit True/False Question End-->