@using BrainNotFound.Paper.Models.BusinessModels
@model Test;

@{ 
    List<Course> Courses = ViewBag.CoursesTaught;
    Test test = ViewBag.Test;
}

<div id="EditNameAndCourse" class="well">
    <form asp-action="PartialEditNameAndCourse" asp-controller="Instructor" asp-route-TestId="" id="new-department" data-parsley-validate class="form-horizontal form-label-left">
        <div class="col-md-9 col-xs-12">
            <label for="TestName" class="control-label">Edti Test Name</label>
            <input type="text" asp-for="TestName" placeholder="Enter test name" class="form-control" value="@test.TestName">
            <input asp-for="TestId" type="hidden" value="@test.TestId" />
            <input asp-for="CourseId" type="hidden" value="@test.CourseId" />
        </div>
        <div class="col-md-3 col-sm-12">
            <label class="control-label">&emsp;</label>
            <table>
                <tr>
                    <td> <button type="submit" class="btn btn-round btn-primary">Save</button></td>
                    <td><a onclick="Calcel('#EditNameAndCourse')" class="btn btn-round btn-danger">Cancel</a>
                </tr>
            </table>
        </div>
    </form>
</div>