@{
    ViewData["Title"] = "List of Grades - Student";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page allows the student to view his grades for each test, and his overall
grade in the course.</p>
