@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="root" asp-action="index" class="btn btn-dark">Run Code</a>
<a asp-controller="Bima" asp-action="Run" class="btn btn-dark">Run Code for Bima</a>