@{
    ViewData["Title"] = "Settings - Admin";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page displays all settings, the software version, and the ability to restore the 	system to factory settings. </p> 