@using BrainNotFound.Paper.Models.BusinessModels
@model Test;
@{
    ViewData["Title"] = "Create Test - Instructor";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-info-circle"></i> | Test creation information</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-edit"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Edit name and course</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-arrow-up"></i></a></li>
                    <li><a><i class="fa fa-arrow-down"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="well">
                    <form asp-action="CreateTest" asp-controller="Instructor" id="new-department" data-parsley-validate class="form-horizontal form-label-left">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Test Name</label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <input type="text" asp-for="TestName"  placeholder="Enter test name" class="form-control">
                        </div>
                        <label class="control-label col-md-1 col-sm-1 col-xs-12">Course</label>
                        <div style="margin-bottom:10px" class="col-md-3 col-sm-3 col-xs-12">
                            <select asp-for="CourseId" class="form-control">
                                <option>--Choose option--</option>
                                @foreach (Course course in ViewBag.CoursesTaught)
                                {
                                    <option value="@course.CourseId">@(course.DepartmentCode + course.CourseCode + " " + course.Name)</option>
                                }
                            </select>
                        </div>
                        <button style="margin-left:12px" type="submit" class="btn btn-round btn-success">Create</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>



@section scripts
    {
    <!-- bootstrap-datetimepicker -->
    <script src="~/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/js/CreateTest.js"></script>
}
