@using BrainNotFound.Paper.Models.BusinessModels
@model BrainNotFound.Paper.Models.BusinessModels.ApplicationUser;

@{
    ViewData["Title"] = "Create Test - Instructor";
}
<!-- page content -->
<!--<div id="pageContent" class="right_col">-->
<div class="row">
    <div class="col-md-12 col-xs-12">
        <!-- (Test creation information) beginning of row 2 -->
        <div class="x_panel">
            <div id="556" class="x_title">
                <h2><i class="fa fa-info-circle"></i> | Test creation information</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-edit"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a></li>
                            <li><a href="#">Settings 2</a></li>
                        </ul>
                    </li>
                    <li><a class="collapse-link"><i class="fa fa-arrow-up"></i></a></li>
                    <li><a class="collapse-link"><i class="fa fa-arrow-down"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <form id="new-department" data-parsley-validate class="form-horizontal form-label-left">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Teacher Assigned</label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <select class="form-control">
                                <option>Choose option</option>
                                <option>True/False</option>
                                <option>Multiple Choice</option>
                                <option>Fill In The Blank</option>
                                <option>Matching</option>
                            </select>
                        </div>
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Course</label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <select class="form-control">
                                <option>Choose option</option>
                                <option>True/False</option>
                                <option>Multiple Choice</option>
                                <option>Fill In The Blank</option>
                                <option>Matching</option>
                            </select>
                        </div>
                    </form>
                </div><br>
                <!-- for selecting all checkboxes -->
                <script language="JavaScript">
                    function toggle(source, elementName) {
                        checkboxes = document.getElementsByName(elementName);
                        for (var i = 0, n = checkboxes.length; i < n; i++) {
                            checkboxes[i].checked = source.checked;
                        }
                    }
                </script>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Assign to section(s)</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" onClick="toggle(this, 'foo')" /></th>
                                            <th>Section</th>
                                            <th>Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="foo" value="" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Otto</td>
                                            <td>mdo</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="foo" value="" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Thornton</td>
                                            <td>fat</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="foo" value="" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>the Bird</td>
                                            <td>twitter</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Assign to student(s)</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" onClick="toggle(this, 'foo2')" /></th>
                                            <th>Student</th>
                                            <th>First Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="foo2" value="" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                    </label>
                                                </div>
                                            <td>Otto</td>
                                            <td>mdo</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="foo2" value="" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                    </label>
                                                </div>
                                            <td>Thornton</td>
                                            <td>fat</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="foo2" value="" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                    </label>
                                                </div>
                                            <td>the Bird</td>
                                            <td>twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of row 2 -->




            </div>
        </div>
    </div>

</div>
<!-- Test creation information -->
<div id="genericSection" class="x_panel">
    <!-- top of section header -->
    <div class="x_title">
        <h2><i class="fa fa-question"></i> | New test section</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            <li><a class="collapse-link"><i class="fa fa-arrow-up"></i></a></li>
            <li><a class="collapse-link"><i class="fa fa-arrow-down"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- end of section header -->
    <div class="x_content">
        <div class="row">
            <form id="new-department" data-parsley-validate class="form-horizontal form-label-left">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Question Type</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <select class="form-control">
                        <option>Choose option</option>
                        <option>True/False</option>
                        <option>Multiple Choice</option>
                        <option>Fill In The Blank</option>
                        <option>Matching</option>
                    </select>
                </div>
                <label class="control-label col-md-3 col-sm-2 col-xs-12">Question Point Value</label>
                <div class="col-md-1">
                    <input type="text" placeholder="#" class="form-control"><br>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder="Enter question here." class="form-control">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">

    <div id="addSectionButton" class="" style="text-align:center">
        <button id="sectionAdd" type="button" class="btn btn-round btn-info"><i class="fa fa-plus"></i> Add Section</button>
    </div>
</div>
<!-- end of test creation information -->
            </div>
<!-- /page content -->


@section scripts
{
    <script type="text/javascript" src="~/js/CreateTest.js"></script>
}