@using BrainNotFound.Paper.Models.BusinessModels
@{
    ViewData["Title"] = "Edit test_name - Instructor";
}

<div class="row" id="TestInformationSection">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-file-text-o"></i> @(ViewBag.Course.DepartmentCode + ViewBag.Course.CourseCode) - @(" " + ViewBag.Test.TestName)</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-edit"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a onclick="EditTestNameAndCourse(@ViewBag.Test.TestId)">Edit name and course</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div id="x_c-infoSection" class="x_content">
                <h3>General</h3>
                <hr />
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-dot-circle-o"></i>
                        </div>
                        <div class="count">179</div>
                        <h3>Total Points</h3>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-question"></i>
                        </div>
                        <div class="count">52</div>
                        <h3>Questions</h3>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-sort-alpha-asc"></i>
                        </div>
                        <div class="count">4</div>
                        <h3>Sections</h3>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <a><i class="fa fa-check"></i></a>
                        </div>
                        <div class="count">Live</div>
                        <h3>Test Published</h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <h3>Schedule</h3>
                <hr />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Availability</th>
                            <th>TimeLimit</th>
                            <th>Students Assigned</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                <p><i class="fa fa-calendar"></i> 01/01/2016 12:00 AM - 01/25/2016 12:00 AM</p>
                            </td>
                            <td>50 Minutes</td>
                            <td>Section 1 and 2 Students</td>
                            <td>
                                <form asp-controller="Admin" asp-action="DeleteCourse">
                                    <a asp-controller="Instructor" asp-action="EditTest" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                    <input type="hidden" name="CourseId" value="d" />
                                    <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                <p><i class="fa fa-calendar"></i> 01/01/2016 12:00 AM - 01/25/2016 12:00 AM</p>
                            </td>
                            <td>50 Minutes</td>
                            <td>Section 2</td>
                            <td>
                                <form asp-controller="Admin" asp-action="DeleteCourse">
                                    <a asp-controller="Instructor" asp-action="EditTest" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                    <input type="hidden" name="CourseId" value="d" />
                                    <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="EditSchedulePlaceHolde"></div>
                <div class="text-center">
                    <button type="button" onclick="NewTestSchedule(@ViewBag.Test.TestId)" class="btn btn-round btn-info">New Schedule</button>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/js/EditTest.js"></script>
}