@using BrainNotFound.Paper.Models.BusinessModels
@{
    ViewData["Title"] = "Edit test_name - Instructor";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-file-text-o"></i> @(ViewBag.Course.DepartmentCode + ViewBag.Course.CourseCode) <small>@(" " + ViewBag.Test.TestName)</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li class="dropdown">
                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-edit"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="EditNameAndCourseBT">Edit name and course</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div id="x_c-infoSection" class="x_content">


            </div>
        </div>
    </div>
</div>




@section scripts
    {
    <!-- bootstrap-datetimepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/js/EditTest.js"></script>
}