@{
    ViewData["Title"] = "Dashboard - Instructor";
}


<button onclick="GetAllStudents()">Get all Students</button>
<button onclick="GetHostInfo()">GetHostInfo</button>
<div id="test">
    <table class="table">
        <tr></tr>
    </table>
</div>
<div id="demo"></div>
