@{
    ViewData["Title"] = "Profile - Instructor";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page displays the instructor’s profile information and allows the instructor to reset his password.</p>
