@{
    ViewData["Title"] = "Student Profile - Instructor";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page displays the student’s personal information, which sections he’s enrolled in, his upcoming tests, and his test history.</p>
