@{
    ViewData["Title"] = "View Section Info - Instructor";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page displays a section’s information, the students enrolled in this section, and all existing tests for this section.</p>
