@{
    ViewData["Title"] = "Test Summary - Student";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page displays a specific test, its instructions, and allows the user to take the test.</p>
