@using BrainNotFound.Paper.Models.BusinessModels;
@{
    ViewData["Title"] = "NickSandbox";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
    List<TrueFalse> questions = ViewBag.Questions;
    List<TrueFalse> SortedQuestions = questions.OrderBy(q => q.Index).ToList();
}

<div class="row">
    <div class="col-md-12 col-xs-12">

        <!--True/False Section Start-->
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-info-circle"></i> | True/False</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class=""><i class="fa fa-trash-o"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-edit"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Edit Instructions</a></li>
                            <li><a href="#">Edit Questions Value</a></li>
                        </ul>
                    </li>
                    <li><a class="collapse-link"><i class="fa fa-arrow-up"></i></a></li>
                    <li><a class="collapse-link"><i class="fa fa-arrow-down"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p><b>Instructions:</b> Determine if each statement is True or False.</p>

                    </div>
                </div>

                @foreach (TrueFalse question in SortedQuestions)
                {
                    if (question.TrueFalseAnswer == true)
                    {
                        <div class="ln_solid"></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <input type="text" placeholder="pts" value="@(question.PointValue + " pt(s)")" class="form-group form-control">
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-11">
                                    <p>@question.Content</p>
                                </div>
                                <div class="form-group col-md-3 col-sm-3 col-xs-12">
                                    <span style="color:white" class="label label-success">True</span>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class=""><i class="fa fa-trash-o"></i></a></li>
                                        <li><a class=""><i class="fa fa-edit"></i></a></li>
                                        <li><a class=""><i class="fa fa-chevron-up"></i></a></li>
                                        <li><a class=""><i class="fa fa-chevron-down"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    else if (question.TrueFalseAnswer == false)
                    {
                        <div class="ln_solid"></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <input type="text" placeholder="pts" value="@(question.PointValue + " pt(s)")" class="form-group form-control">
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-11">
                                    <p>@question.Content</p>
                                </div>
                                <div class="form-group col-md-3 col-sm-3 col-xs-12">
                                    <span style="color:white" class="label label-danger">False</span>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class=""><i class="fa fa-trash-o"></i></a></li>
                                        <li><a class=""><i class="fa fa-edit"></i></a></li>
                                        <li><a class=""><i class="fa fa-chevron-up"></i></a></li>
                                        <li><a class=""><i class="fa fa-chevron-down"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="ln_solid"></div>
                <div class="text-right">
                    <button type="button" class="btn btn-round btn-info"><i class="fa fa-plus"></i> &nbsp;Add Question</button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center">
            <button type="button" class="btn btn-round btn-primary"><i class="fa fa-plus"></i> &nbsp;Add Section</button>
        </div>
    </div>
</div>
<!-- /page content -->