@model BrainNotFound.Paper.Models.LoginViewModel;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Paper | Login</title>

    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Raleway" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form asp-controller="Account" asp-action="Login" id="Log_in_Form">
                        <img id="login-img" src="images/logo_png.png" alt="logo">
                        <div>
                            <input type="text" asp-for="UserName" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="password" asp-for="Password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <button class="btn btn-default submit" type="submit">Log in</button>
                        </div>

                        <div class="clearfix"></div>
                        @if (ViewBag.loginError)
                        {
                            <span class="text-danger">Invalid username or password</span>
                        }
                    </form>
                    <ul>
                        <li><a asp-action="ForceAdminLogin" asp-controller="Account">Log in as Administrator</a></li>
                        <li><a asp-action="ForceInstructorLogin" asp-controller="Account">Log in as Instructor</a>               </li>
                        <li><a asp-action="ForceStudentLogin" asp-controller="Account">Log in as Student</a>                     </li>

                    </ul>

                </section>
            </div>
        </div>
    </div>
</body>
</html>
